<form [formGroup]="formulario" (ngSubmit)="submit()">
    <p-card header="Registre-se">
        <div class="col-12">
            <input type="text" pInputText formControlName="name" placeholder="Nome" class="p-inputtext-sm">
        </div>

        <div class="col-12">
            <input pInputText formControlName="email" placeholder="E-mail" type="email"
                class="p-inputtext-sm w-full">
        </div>

        <div class="col-12">
            <input pInputText formControlName="password" placeholder="Senha" type="password"
                class="p-inputtext-sm w-full">
        </div>

        <div class="col-12">
            <button class="w-full" pButton pRipple type="submit" label="Confirmar"
                [disabled]="formulario.invalid"></button>
        </div>
    </p-card>
</form>