.code-container {
    background-color: #443DA4;
    padding: 15px;
    border-radius: 15px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.punctuation {
    color: rgb(254 240 138);
}

.tag {
    color: red;
}

.attr-value {
    color: white;
}

.attr-name {
    color: rgb(196 181 253);
}

.plain-text {
    color: white;
}