<form [formGroup]="formulario" (ngSubmit)="submit()">
    <p-card header="Login">

        <div class="col-12">
            <input type="text" pInputText formControlName="email" placeholder="E-mail" type="email"
                class="p-inputtext-sm">
        </div>

        <div class="col-12">
            <input type="text" pInputText formControlName="password" placeholder="Senha" type="password"
                class="p-inputtext-sm">
        </div>

        <div class="col-12">
            <button pButton pRipple type="submit" label="Confirmar"
                [disabled]="formulario.invalid"></button>
        </div>
        
    </p-card>
</form>